<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
            <!-- left side div -->

            <div class="col-md-15 col-12 main_header_left align-items-center">
              <figure>
                <img
                  src="./img/404 page not found.jpg"
                  alt=""
                  srcset=""
                  style="height: 40rem"
                />
              </figure>
            

            <!-- right side div -->
            
             

              <h1><span>'Opps!</span> {{errormsg}} </h1>
              <a href="/" ><button>back to home</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer code -->
    {{>footer}}
    {{>script}}
  </body>
</html>
