<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
            <!-- left side div -->

            <div class="col-md-6 col-12 main_header_left">
              <figure>
                <img
                  src="./img/levitate.gif"
                  alt=""
                  srcset=""
                  style="height: 40rem"
                />
              </figure>
            </div>

            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>welcome to wether app</p>

              <h1>Hy i am a <span>Web developer</span> and a freelancer</h1>
              <a href="https://dwitidev.com/" target="blank"><button>About me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer code -->
    {{>footer}}
    {{>script}}
  </body>
</html>
